* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hina Mincho", serif;
    height: 100vh;
}

.navbar {
    background-color: #ffffff;
}

.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 1em 1em;
}

.navbar .logo {
    font-size: 64px;
    color: #000000;
    font-weight: bold;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(188, 0, 45);
    box-shadow: 5px 5px 10px;
    flex-shrink: 0;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 32px;
    color: #484848;
}

.navbar ul {
    display: flex;
}

li {
    list-style-type: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.header .bigcontainer {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(255, 190, 241) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8em 12em;
    gap: 15em;
}

.header .rightcontainer {
    display: flex;
    flex-direction: column;
}

.header .leftcontainer h1 {
    font-size: 52px;
    margin-bottom: 1em;
}

.header .leftcontainer p {
    font-size: 26px;
    margin-bottom: 1em;
}

.header .rightcontainer img {
    width: 1000px;
    box-shadow: 5px 5px 10px;
    border: solid 5px rgb(188, 0, 45);
}

.header .rightcontainer p {
    align-self: flex-end;
    padding-top: 10px;
    font-size: 24px;
    animation: fadeIn 5s;
}

.button1, .button2 {
    background-color: rgb(188, 0, 45);
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
    border-radius: 5px;
    padding: 5px 20px 10px 20px;
}

.boxes {
    background: linear-gradient(180deg, rgb(255, 190, 241) 0%, rgb(255, 146, 231) 100%);
}

.boxestitle {
    text-align: center;
    font-size: 52px;
}

.boxes .bigcontainer {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding: 4em 16em 8em 16em;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    flex: none;
}

.box p {
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
}

.imgbox {
    border: solid 5px rgb(188, 0, 45);
    box-shadow: 5px 5px 10px;
    width: 100%;
}

.quote {
    display: flex;
    min-height: 75vh;
    position: relative;
    overflow: hidden;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, .25);
    color: #fff;
    font-size: 52px;
    padding: 0 8em;
}

.quote .quoteby {
    align-self: flex-end;
    margin-top: 2em;
}

.videobackground {
    position: absolute;
    filter: blur(5px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.cta {
    background: linear-gradient(180deg, rgb(230, 174, 100) 0%, rgb(0, 0, 0) 75%);
    padding: 8em 24em;
}

.cta .bigcontainer {
    background: linear-gradient(180deg, rgb(188, 0, 45)0%, rgb(0, 0, 0) 95%);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    padding: 2em 4em;
    color: #dcdcdc;
}

.cta .leftcontainer {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

.cta .rightcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.cta .button2 {
    color: #dcdcdc;
    border: solid 5px #dcdcdc;
}

.footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 24px;
    color: #898989;
}