* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hina Mincho", serif;
    height: 100vh;
}

.navbar {
    background-color: #ffffff;
}

.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 1em 1em;
}

.navbar .logo {
    font-size: 64px;
    color: #000000;
    font-weight: bold;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(188, 0, 45);
    box-shadow: 5px 5px 10px;
    flex-shrink: 0;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 32px;
    color: #484848;
}

.navbar ul {
    display: flex;
}

li {
    list-style-type: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.header .bigcontainer {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(255, 190, 241) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8em 12em;
    gap: 15em;
}

/* Make discover button auto scroll down to boxed items */

.rightcontainer {
    display: flex;
    flex-direction: column;
}

.leftcontainer h1 {
    font-size: 52px;
}

.leftcontainer p {
    font-size: 26px;
    margin-bottom: 20px;
}

.rightcontainer img {
    width: 1000px;
    box-shadow: 5px 5px 10px;
    border: solid 5px rgb(188, 0, 45);
}

.rightcontainer p {
    align-self: flex-end;
    padding-top: 10px;
    font-size: 24px;
    animation: fadeIn 5s;
}

.button1, .button2 {
    background-color: rgb(188, 0, 45);
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
    border-radius: 5px;
    padding: 5px 20px 10px 20px;
}

.boxes {
    background-color: rgb(255, 190, 241);
}

.boxestitle {
    text-align: center;
    font-size: 52px;
}

.boxes .bigcontainer {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding: 4em 16em 8em 16em;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    flex: none;
}

.box p {
    font-size: 26px;
    text-align: center;
}

.imgbox {
    border: solid 5px rgb(188, 0, 45);
    width: 100%;
}

.cta .button2 {
    border: solid #fff;
}